Repository openstack/kolla: changes, and which Zuul jobs are due for each by the changed paths.
All: kolla-base, kolla-base-podman, kolla-build-no-infra-wheels-base, kolla-ansible-debian-ironic, kolla-ansible-rocky9-cephadm, kolla-ansible-rocky9-upgrade-cephadm, kolla-ansible-rocky9-zun, kolla-ansible-rocky9-ironic, kolla-ansible-rocky9-swift, kolla-ansible-rocky9-mariadb, kolla-ansible-rocky9-masakari, kolla-ansible-rocky9-octavia, kolla-ansible-rocky9-ovn, kolla-ansible-rocky9-prometheus-opensearch, kolla-ansible-rocky9-kvm, kolla-ansible-ubuntu-cephadm, kolla-ansible-ubuntu-upgrade-cephadm, kolla-ansible-ubuntu-ironic, kolla-ansible-ubuntu-swift, kolla-ansible-ubuntu-mariadb, kolla-ansible-ubuntu-masakari, kolla-ansible-ubuntu-octavia, kolla-ansible-ubuntu-ovn, kolla-ansible-ubuntu-prometheus-opensearch, kolla-ansible-ubuntu-kvm, kolla-ansible-ubuntu-cells, kolla-ansible-ubuntu-bifrost, kolla-ansible-ubuntu-zun, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Path conditions:
  kolla-base: (unless all of: ^.*\.rst$, ^doc/.*, ^etc/.*, ^releasenotes/.*$, ^specs/.*$, ^test-requirements.txt$, ^\.zuul\.d/, ^\..+, ^contrib/, ^LICENSE$, ^tox\.ini$) or (unless all of: ^.*\.rst$, ^doc/.*)
  kolla-base-podman: unless all of: ^.*\.rst$, ^doc/.*, ^etc/.*, ^releasenotes/.*$, ^specs/.*$, ^test-requirements.txt$, ^\.zuul\.d/, ^\..+, ^contrib/, ^LICENSE$, ^tox\.ini$
  kolla-build-no-infra-wheels-base: unless all of: ^.*\.rst$, ^doc/.*, ^etc/.*, ^releasenotes/.*$, ^specs/.*$, ^test-requirements.txt$, ^\.zuul\.d/, ^\..+, ^contrib/, ^LICENSE$, ^tox\.ini$
  kolla-ansible-debian-ironic: any of: ^docker\/(base|dnsmasq|ironic|ironic-inspector|iscsid|openstack-base)\/.*
  kolla-ansible-rocky9-cephadm: any of: ^docker\/(base|cinder|glance|mariadb|openstack-base|rabbitmq)\/.*
  kolla-ansible-rocky9-upgrade-cephadm: any of: ^docker\/(base|cinder|glance|mariadb|openstack-base|rabbitmq)\/.*
  kolla-ansible-rocky9-zun: any of: ^docker\/(base|cinder|etcd|iscsid|kuryr|openstack-base|zun)\/.*
  kolla-ansible-rocky9-ironic: any of: ^docker\/(base|dnsmasq|ironic|ironic-inspector|iscsid|openstack-base)\/.*
  kolla-ansible-rocky9-swift: any of: ^docker/(base|openstack-base|glance|swift)/
  kolla-ansible-rocky9-mariadb: any of: ^docker/(base|mariadb)/
  kolla-ansible-rocky9-masakari: any of: ^docker/(base|masakari|openstack-base)/
  kolla-ansible-rocky9-octavia: any of: ^docker/(base|neutron|octavia|openstack-base|openvswitch|ovn)/
  kolla-ansible-rocky9-ovn: any of: ^docker/(base|neutron|openstack-base|openvswitch|ovn)/
  kolla-ansible-rocky9-prometheus-opensearch: any of: ^docker/(base|opensearch|fluentd|grafana|prometheus)/
  kolla-ansible-rocky9-kvm: any of: ^docker/nova/
  kolla-ansible-ubuntu-cephadm: any of: ^docker\/(base|cinder|glance|mariadb|openstack-base|rabbitmq)\/.*
  kolla-ansible-ubuntu-upgrade-cephadm: any of: ^docker\/(base|cinder|glance|mariadb|openstack-base|rabbitmq)\/.*
  kolla-ansible-ubuntu-ironic: any of: ^docker\/(base|dnsmasq|ironic|ironic-inspector|iscsid|openstack-base)\/.*
  kolla-ansible-ubuntu-swift: any of: ^docker/(base|openstack-base|glance|swift)/
  kolla-ansible-ubuntu-mariadb: any of: ^docker/(base|mariadb)/
  kolla-ansible-ubuntu-masakari: any of: ^docker/(base|masakari|openstack-base)/
  kolla-ansible-ubuntu-octavia: any of: ^docker/(base|neutron|octavia|openstack-base|openvswitch|ovn)/
  kolla-ansible-ubuntu-ovn: any of: ^docker/(base|neutron|openstack-base|openvswitch|ovn)/
  kolla-ansible-ubuntu-prometheus-opensearch: any of: ^docker/(base|opensearch|fluentd|grafana|prometheus)/
  kolla-ansible-ubuntu-kvm: any of: ^docker/nova/
  kolla-ansible-ubuntu-cells: any of: ^docker/proxysql/
  kolla-ansible-ubuntu-bifrost: any of: ^docker/bifrost/
  kolla-ansible-ubuntu-zun: any of: ^docker/|zun/
  kolla-build-centos-binary: unless all of: ^.*\.rst$, ^doc/.*
  kolla-publish-centos-binary: unless all of: ^.*\.rst$, ^doc/.*
  kolla-build-centos-source: unless all of: ^.*\.rst$, ^doc/.*
  kolla-publish-centos-source: unless all of: ^.*\.rst$, ^doc/.*
  kolla-build-ubuntu-binary: unless all of: ^.*\.rst$, ^doc/.*
  kolla-publish-ubuntu-binary: unless all of: ^.*\.rst$, ^doc/.*
  kolla-build-ubuntu-source: unless all of: ^.*\.rst$, ^doc/.*
  kolla-publish-ubuntu-source: unless all of: ^.*\.rst$, ^doc/.*
  kolla-build-oraclelinux-binary: unless all of: ^.*\.rst$, ^doc/.*
  kolla-publish-oraclelinux-binary: unless all of: ^.*\.rst$, ^doc/.*
  kolla-build-oraclelinux-source: unless all of: ^.*\.rst$, ^doc/.*
  kolla-publish-oraclelinux-source: unless all of: ^.*\.rst$, ^doc/.*

erlang: use proper distro for noble
  kolla/template/repos.yaml
Due: kolla-base, kolla-base-podman, kolla-build-no-infra-wheels-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

docs: update main contributor guide page
  doc/source/contributor/contributing.rst
Due: none

[stable] Use versioned Erlang 26 and 27 repo on aarch64
  doc/source/contributor/versions.rst
  docker/base/Dockerfile.j2
  docker/base/copr-rabbitmq-erlang-26.repo
  docker/base/copr-rabbitmq-erlang-27.repo
  docker/base/copr-rabbitmq-erlang.repo
  kolla/template/repos.yaml
  releasenotes/notes/erlang-aarch64-versioned-repos-9b1d2c8b8b7a.yaml
Due: kolla-base, kolla-base-podman, kolla-build-no-infra-wheels-base, kolla-ansible-debian-ironic, kolla-ansible-rocky9-cephadm, kolla-ansible-rocky9-upgrade-cephadm, kolla-ansible-rocky9-zun, kolla-ansible-rocky9-ironic, kolla-ansible-rocky9-swift, kolla-ansible-rocky9-mariadb, kolla-ansible-rocky9-masakari, kolla-ansible-rocky9-octavia, kolla-ansible-rocky9-ovn, kolla-ansible-rocky9-prometheus-opensearch, kolla-ansible-ubuntu-cephadm, kolla-ansible-ubuntu-upgrade-cephadm, kolla-ansible-ubuntu-ironic, kolla-ansible-ubuntu-swift, kolla-ansible-ubuntu-mariadb, kolla-ansible-ubuntu-masakari, kolla-ansible-ubuntu-octavia, kolla-ansible-ubuntu-ovn, kolla-ansible-ubuntu-prometheus-opensearch, kolla-ansible-ubuntu-zun, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

CI: Drop zun jobs
  .zuul.d/ubuntu.yaml
Due: kolla-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

CI: fix secrets for erlang COPR periodic job
  .zuul.d/base.yaml
  tests/playbooks/copr-erlang-update.yml
Due: kolla-base, kolla-base-podman, kolla-build-no-infra-wheels-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

[2025.1 only] Fix Gnocchi memory leak caused by numpy==2.2.3
  docker/gnocchi/gnocchi-base/Dockerfile.j2
  releasenotes/notes/bug-2122488-2bca0f2eb5683bd9.yaml
Due: kolla-base, kolla-base-podman, kolla-build-no-infra-wheels-base, kolla-ansible-ubuntu-zun, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Switch to 2025.2 release
  kolla/common/config.py
Due: kolla-base, kolla-base-podman, kolla-build-no-infra-wheels-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

horizon: Ensure horizon owns /var/log/kolla/horizon
  docker/horizon/extend_start.sh
Due: kolla-base, kolla-base-podman, kolla-build-no-infra-wheels-base, kolla-ansible-ubuntu-zun, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

openstack-base: Fix psycopg2 install on EL
  docker/openstack-base/Dockerfile.j2
Due: kolla-base, kolla-base-podman, kolla-build-no-infra-wheels-base, kolla-ansible-debian-ironic, kolla-ansible-rocky9-cephadm, kolla-ansible-rocky9-upgrade-cephadm, kolla-ansible-rocky9-zun, kolla-ansible-rocky9-ironic, kolla-ansible-rocky9-swift, kolla-ansible-rocky9-masakari, kolla-ansible-rocky9-octavia, kolla-ansible-rocky9-ovn, kolla-ansible-ubuntu-cephadm, kolla-ansible-ubuntu-upgrade-cephadm, kolla-ansible-ubuntu-ironic, kolla-ansible-ubuntu-swift, kolla-ansible-ubuntu-masakari, kolla-ansible-ubuntu-octavia, kolla-ansible-ubuntu-ovn, kolla-ansible-ubuntu-zun, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

debian: Use {{ openstack_release_codename }} for extrepo
  docker/base/Dockerfile.j2
  kolla/common/config.py
  kolla/image/kolla_worker.py
Due: kolla-base, kolla-base-podman, kolla-build-no-infra-wheels-base, kolla-ansible-debian-ironic, kolla-ansible-rocky9-cephadm, kolla-ansible-rocky9-upgrade-cephadm, kolla-ansible-rocky9-zun, kolla-ansible-rocky9-ironic, kolla-ansible-rocky9-swift, kolla-ansible-rocky9-mariadb, kolla-ansible-rocky9-masakari, kolla-ansible-rocky9-octavia, kolla-ansible-rocky9-ovn, kolla-ansible-rocky9-prometheus-opensearch, kolla-ansible-ubuntu-cephadm, kolla-ansible-ubuntu-upgrade-cephadm, kolla-ansible-ubuntu-ironic, kolla-ansible-ubuntu-swift, kolla-ansible-ubuntu-mariadb, kolla-ansible-ubuntu-masakari, kolla-ansible-ubuntu-octavia, kolla-ansible-ubuntu-ovn, kolla-ansible-ubuntu-prometheus-opensearch, kolla-ansible-ubuntu-zun, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

CI: Rename jobs according to changes in K-A
  .ansible-lint
  .zuul.d/centos.yaml
  .zuul.d/debian.yaml
  .zuul.d/project.yaml
  .zuul.d/tox.yaml
  .zuul.d/ubuntu.yaml
  zuul.d/base.yaml
  zuul.d/centos.yaml
  zuul.d/debian.yaml
  zuul.d/nodesets.yaml
  zuul.d/periodics/copr.yaml
  zuul.d/project.yaml
  zuul.d/scenarios/aio.yaml
  zuul.d/scenarios/bifrost.yaml
  zuul.d/scenarios/cells.yaml
  zuul.d/scenarios/cephadm.yaml
  zuul.d/scenarios/ironic.yaml
  zuul.d/scenarios/mariadb.yaml
  zuul.d/scenarios/masakari.yaml
  zuul.d/scenarios/octavia.yaml
  zuul.d/scenarios/ovn.yaml
  zuul.d/secrets.yaml
  zuul.d/tox.yaml
  zuul.d/ubuntu.yaml
Due: kolla-base, kolla-base-podman, kolla-build-no-infra-wheels-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Move to Rocky Linux 10
  doc/source/ceph_versions.csv
  doc/source/contributor/versions.rst
  doc/source/support_matrix.rst
  docker/base/Dockerfile.j2
  docker/base/ci-rocky.repo
  kolla/common/config.py
  kolla/image/unbuildable.py
  kolla/template/repos.yaml
  releasenotes/notes/rocky-10-4111fa0160be14ab.yaml
  tests/templates/template_overrides.j2
  zuul.d/nodesets.yaml
  zuul.d/project.yaml
  zuul.d/rocky.yaml
Due: kolla-base, kolla-base-podman, kolla-build-no-infra-wheels-base, kolla-ansible-debian-ironic, kolla-ansible-rocky9-cephadm, kolla-ansible-rocky9-upgrade-cephadm, kolla-ansible-rocky9-zun, kolla-ansible-rocky9-ironic, kolla-ansible-rocky9-swift, kolla-ansible-rocky9-mariadb, kolla-ansible-rocky9-masakari, kolla-ansible-rocky9-octavia, kolla-ansible-rocky9-ovn, kolla-ansible-rocky9-prometheus-opensearch, kolla-ansible-ubuntu-cephadm, kolla-ansible-ubuntu-upgrade-cephadm, kolla-ansible-ubuntu-ironic, kolla-ansible-ubuntu-swift, kolla-ansible-ubuntu-mariadb, kolla-ansible-ubuntu-masakari, kolla-ansible-ubuntu-octavia, kolla-ansible-ubuntu-ovn, kolla-ansible-ubuntu-prometheus-opensearch, kolla-ansible-ubuntu-zun, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

CI: Fix rocky publish jobs - version missing
  zuul.d/rocky.yaml
Due: kolla-base, kolla-base-podman, kolla-build-no-infra-wheels-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

CI: Add zuul.d to irrelevant files
  zuul.d/base.yaml
Due: kolla-base, kolla-base-podman, kolla-build-no-infra-wheels-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Move repo enablement to respective rpm blocks
  docker/bifrost/bifrost-base/Dockerfile.j2
  docker/cinder/cinder-base/Dockerfile.j2
  docker/collectd/Dockerfile.j2
  docker/glance/glance-base/Dockerfile.j2
  docker/gnocchi/gnocchi-base/Dockerfile.j2
  docker/hacluster/hacluster-base/Dockerfile.j2
  docker/heat/heat-base/Dockerfile.j2
  docker/keystone/keystone-base/Dockerfile.j2
  docker/kolla-toolbox/Dockerfile.j2
  docker/kuryr/kuryr-libnetwork/Dockerfile.j2
  docker/manila/manila-base/Dockerfile.j2
  docker/manila/manila-share/Dockerfile.j2
  docker/mariadb/mariadb-server/Dockerfile.j2
  docker/masakari/masakari-monitors/Dockerfile.j2
  docker/neutron/neutron-base/Dockerfile.j2
  docker/nova/nova-base/Dockerfile.j2
  docker/nova/nova-compute/Dockerfile.j2
  docker/nova/nova-libvirt/Dockerfile.j2
  docker/octavia/octavia-base/Dockerfile.j2
  docker/openstack-base/Dockerfile.j2
  docker/openvswitch/openvswitch-base/Dockerfile.j2
  docker/rabbitmq/Dockerfile.j2
  docker/tacker/tacker-base/Dockerfile.j2
  docker/telegraf/Dockerfile.j2
  docker/zun/zun-base/Dockerfile.j2
  docker/zun/zun-compute/Dockerfile.j2
Due: kolla-base, kolla-base-podman, kolla-build-no-infra-wheels-base, kolla-ansible-debian-ironic, kolla-ansible-rocky9-cephadm, kolla-ansible-rocky9-upgrade-cephadm, kolla-ansible-rocky9-zun, kolla-ansible-rocky9-ironic, kolla-ansible-rocky9-swift, kolla-ansible-rocky9-mariadb, kolla-ansible-rocky9-masakari, kolla-ansible-rocky9-octavia, kolla-ansible-rocky9-ovn, kolla-ansible-rocky9-kvm, kolla-ansible-ubuntu-cephadm, kolla-ansible-ubuntu-upgrade-cephadm, kolla-ansible-ubuntu-ironic, kolla-ansible-ubuntu-swift, kolla-ansible-ubuntu-mariadb, kolla-ansible-ubuntu-masakari, kolla-ansible-ubuntu-octavia, kolla-ansible-ubuntu-ovn, kolla-ansible-ubuntu-kvm, kolla-ansible-ubuntu-bifrost, kolla-ansible-ubuntu-zun, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Add support for rpm to repos.yaml
  .ansible-lint
  docker/base/Dockerfile.j2
  docker/base/copr-rabbitmq-erlang.repo
  docker/base/docker-ce.repo
  docker/base/grafana.repo
  docker/base/influxdb.repo
  docker/base/kolla_el10.repo
  docker/base/mariadb.repo
  docker/base/opensearch.repo
  docker/base/proxysql.repo
  docker/base/rabbitmq_rabbitmq-erlang.repo
  docker/base/rabbitmq_rabbitmq-server.repo
  docker/base/td.repo
  kolla/template/methods.py
  kolla/template/repos.yaml
  kolla/tests/test_methods.py
  releasenotes/notes/repos-yaml-rpm-support-01ff7f5fc3b9ecf2.yaml
  tests/templates/template_overrides.j2
Due: kolla-base, kolla-base-podman, kolla-build-no-infra-wheels-base, kolla-ansible-debian-ironic, kolla-ansible-rocky9-cephadm, kolla-ansible-rocky9-upgrade-cephadm, kolla-ansible-rocky9-zun, kolla-ansible-rocky9-ironic, kolla-ansible-rocky9-swift, kolla-ansible-rocky9-mariadb, kolla-ansible-rocky9-masakari, kolla-ansible-rocky9-octavia, kolla-ansible-rocky9-ovn, kolla-ansible-rocky9-prometheus-opensearch, kolla-ansible-ubuntu-cephadm, kolla-ansible-ubuntu-upgrade-cephadm, kolla-ansible-ubuntu-ironic, kolla-ansible-ubuntu-swift, kolla-ansible-ubuntu-mariadb, kolla-ansible-ubuntu-masakari, kolla-ansible-ubuntu-octavia, kolla-ansible-ubuntu-ovn, kolla-ansible-ubuntu-prometheus-opensearch, kolla-ansible-ubuntu-zun, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Stop duplicating repos in repos.yaml
  kolla/template/methods.py
  kolla/template/repos.yaml
Due: kolla-base, kolla-base-podman, kolla-build-no-infra-wheels-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

CI: Improve aarch64 and vars config
  zuul.d/base.yaml
  zuul.d/centos.yaml
  zuul.d/debian.yaml
  zuul.d/nodesets.yaml
  zuul.d/rocky.yaml
  zuul.d/ubuntu.yaml
Due: kolla-base, kolla-base-podman, kolla-build-no-infra-wheels-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Adds ironic-pxe-filter container
  docker/dnsmasq/extend_start.sh
  docker/ironic/ironic-pxe-filter/Dockerfile.j2
  docker/ironic/ironic-pxe-filter/extend_start.sh
  releasenotes/notes/ironic-pxe-filter-b3b29090b0661ca2.yaml
Due: kolla-base, kolla-base-podman, kolla-build-no-infra-wheels-base, kolla-ansible-debian-ironic, kolla-ansible-rocky9-ironic, kolla-ansible-ubuntu-ironic, kolla-ansible-ubuntu-zun, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

CI: Update API token for fixing repo visibility
  tests/playbooks/publish.yml
  zuul.d/secrets.yaml
Due: kolla-base, kolla-base-podman, kolla-build-no-infra-wheels-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

ironic: Remove ipxe.efi handling for EL10
  docker/ironic/ironic-pxe/extend_start.sh
Due: kolla-base, kolla-base-podman, kolla-build-no-infra-wheels-base, kolla-ansible-debian-ironic, kolla-ansible-rocky9-ironic, kolla-ansible-ubuntu-ironic, kolla-ansible-ubuntu-zun, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Update Fluentd from v5 LTS to v6 LTS
  doc/source/contributor/versions.rst
  docker/base/Dockerfile.j2
  kolla/template/repos.yaml
  releasenotes/notes/fluentd-update-8db10e760b2dc4d5.yaml
Due: kolla-base, kolla-base-podman, kolla-build-no-infra-wheels-base, kolla-ansible-debian-ironic, kolla-ansible-rocky9-cephadm, kolla-ansible-rocky9-upgrade-cephadm, kolla-ansible-rocky9-zun, kolla-ansible-rocky9-ironic, kolla-ansible-rocky9-swift, kolla-ansible-rocky9-mariadb, kolla-ansible-rocky9-masakari, kolla-ansible-rocky9-octavia, kolla-ansible-rocky9-ovn, kolla-ansible-rocky9-prometheus-opensearch, kolla-ansible-ubuntu-cephadm, kolla-ansible-ubuntu-upgrade-cephadm, kolla-ansible-ubuntu-ironic, kolla-ansible-ubuntu-swift, kolla-ansible-ubuntu-mariadb, kolla-ansible-ubuntu-masakari, kolla-ansible-ubuntu-octavia, kolla-ansible-ubuntu-ovn, kolla-ansible-ubuntu-prometheus-opensearch, kolla-ansible-ubuntu-zun, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source
